<div>
    <h1>{{title}}</h1>
    <div class="input-group">
        <!--<span class="input-group-addon" id="basic-addon1">@</span>-->
        <!--<form ng-submit="submit()">-->
            <!--<input ng-model="admin.email" type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">-->
            <!--<input ng-model="admin.password" type="password" class="form-control" placeholder="Staff ID" aria-describedby="basic-addon1">-->
            <!--<button class="btn btn-default" type="submit">Submit</button>-->
        <!--</form>-->

        <!--<form ng-submit="submit()">-->
            <!--Enter text and hit enter:-->
            <!--<input type="text" ng-model="text" name="text" />-->
            <!--<input type="submit" id="submit" value="Submit" />-->
        <!--</form>-->
    </div>

    <request-list></request-list>
</div>