<div class="list-group">
    <!--<a href="#" class="list-group-item active">-->
    <!--Cras justo odio-->
    <!--</a>-->
    <p id="{{req.socketId}}" class="list-group-item" ng-repeat="req in assistanceRequests">
        Client need assistance at the car {{req.carName}}
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button"
                ng-disabled="req.disabled"
                class="btn"
                ng-class="!req.accepted ? 'btn-primary' : 'btn-info'"
                ng-click="acceptRequest(req, $index)"
                ng-disabled="req.accepted"
        >
            {{!req.accepted ? req.text : req.textWhenAccepted}}
        </button>
        <button type="button"
                ng-if="req.accepted"
                class="btn btn-success"
                ng-click="arrivedAtPlace(req)"
        >
            Arrived
        </button>
        <button type="button"
                ng-if="req.accepted"
                class="btn btn-danger"
                ng-click="cancelRequest(req, $index)"
        >
            Cancel
        </button>
        <button type="button"
                ng-if="req.accepted"
                class="btn btn-success"
                ng-click="finishRequest(req)"
        >
            Done
        </button>

    </p>
</div>